{% load static %}
{% load app_5_custom_tags %}

<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{% static '' %}landing_page_five/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Karma Shop</title>

	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="{% static '' %}landing_page_five/css/linearicons.css">
	<link rel="stylesheet" href="{% static '' %}landing_page_five/css/owl.carousel.css">
	<link rel="stylesheet" href="{% static '' %}landing_page_five/css/themify-icons.css">
	<link rel="stylesheet" href="{% static '' %}landing_page_five/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static '' %}landing_page_five/css/nice-select.css">
	<link rel="stylesheet" href="{% static '' %}landing_page_five/css/nouislider.min.css">
	<link rel="stylesheet" href="{% static '' %}landing_page_five/css/bootstrap.css">
	<link rel="stylesheet" href="{% static '' %}landing_page_five/css/main.css">

<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



</style>

<style>

.bg3 {
    background-color: #222;
}


.p-b-32, .p-tb-32, .p-all-32 {
    padding-bottom: 32px;
}

.p-t-75, .p-tb-75, .p-all-75 {
    padding-top: 75px;
}


article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}


*, ::after, ::before {
    box-sizing: border-box;
}
</style>
<style>



.Placeholder_Text_style {

  pointer-events: none;
  position:absolute;
  left:37px;
  top:13px;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity:0.5;
}

input:focus + span, input:not(:placeholder-shown) + span {
  opacity:1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}

/* For IE Browsers*/
input:focus + span, input:not(:-ms-input-placeholder) + span {
  opacity:1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}


</style>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #6E8BF8;">
        <a class="navbar-brand" href="{% url 'landing_page_five' %}">
        <img src="{% get_last_logo_app5 %}" style="height:60px; width:auto;" alt="">
      </a>

  <a class="navbar-brand" href="{% url 'landing_page_five' %}">Events Registration</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'landing_page_five' %}">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

	<!--================Login Box Area =================-->
	<section class="login_box_area ">
		<div class="container">
			<div class="row" style="background: url({{get_left.Model_full_image.url}}) no-repeat center fixed;
    -webkit-background-size: cover; height: 1041px;">
				<div class="col-lg-9" >
					<div class="login_box_img" style="margin-top: 10px;text-align: center;margin-top: 72px;">
{% if get_left.Model_left_content  %}

<!--						<img class="img-fluid" src="{% static '' %}landing_page_one/img/login.jpg" alt="">-->
<!--						<img class="img-fluid" src="{{get_left.Model_full_image.url}}" alt="" height="1201px" width="1251px">-->

						<div >
							{{get_left.Model_left_content | safe }}


						</div>






<div class="row">

						{% for i in get_event %}
							{% if i.Model_event_image %}
<div class="col-lg-3">
						<img src="{{i.Model_event_image.url}}" style="width: 100%;height: 221px; position: relative;"><br>{{i.Model_event_text  | safe}}
</div>
							{% endif %}
						{% endfor %}


</div>

<!--						<div class="hover">-->

<!--						</div>	{{get_left.Mobel_left_content | safe }}-->




{% endif %}

					</div>

				</div>
				<div class="col-lg-3" style="height: 496px;">
					<div class="login_form_inner" style="box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 7%); height: 100%;  text-align: center; padding-top: 46px; margin-top: 155px; background-color: #4582bda6;border-radius: 54px;">
						<h3 class="" style="background-color: yellow;">Sign Up</h3>

						{% for message in messages %}<br>
						  <div class="col-md-12 form-group primary-btn" style="width: 86%;font-size: 13px;">{{ message }}</div>
						{% endfor %}

						<form class="row login_form" action="{% url 'Register_info_for_five' %}" method="POST"  >
							{% csrf_token %}

							<div class="col-md-12 form-group">


								<label style="width: 100%;">
									<input type="text" class="form-control" id="id_First_Name" name="name_First_Name" placeholder=" " required />
									<span class="Placeholder_Text_style">First Name</span>
								</label>
							</div>
							<div class="col-md-12 form-group">
								<label style="width: 100%;">
									<input type="text" class="form-control" id="id_Last_Name" name="name_Last_Name" placeholder=" "  required />
									<span class="Placeholder_Text_style">Last Name</span>
								</label>
							</div>
							<div class="col-md-12 form-group" id="mass"></div>
							<div class="col-md-12 form-group">

								<label style="width: 100%;">
									<input type="email" class="form-control" id="id_Email_Address"   name="name_Email_Address" placeholder=" "  required />
									<span class="Placeholder_Text_style">Email Address</span>
								</label>
							</div>

							<div class="col-md-12 form-group">

										<input type="checkbox" name="checkbox_position"  id="vehicle1" placeholder="dd" style="position: absolute;left: 25px;top: -16px;">

										  <label for="vehicle1" style="margin-left: 18px;font-size: 11px;">
											  check here if you do not want us to send you promotion and deals, If you check this we can only send you transactional emails.
										  </label>
										<br>
									</div>


							<div class="col-md-12 form-group">
								<button type="submit"  class="" style="display: block;
    border-radius: 0px;
    line-height: 38px;
    width: 100%;
    text-transform: uppercase;
    border: none;background-color: yellow;">Register</button>

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->



<footer class="bg3 p-t-75 p-b-32" style="">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-4 p-b-50" style="padding-left:55px;">

					<span style="font-size:25px; color:yellow;">Additinal links</span>
					<ul>
						<li class="p-b-10">
							<a href="{% url 'landing_page_five' %}" class="stext-107 cl7 hov-cl1 trans-04">
								Home
							</a>
						</li>

						<li class="p-b-10">
							<a href="{% get_social_url_app5 %}" target="_blank" class="stext-107 cl7 hov-cl1 trans-04">
                               Social Media
							</a>
						</li>

					</ul>
				</div>

				<div class="col-sm-6 col-lg-4 p-b-50">
					<span style="font-size:25px; color:yellow;">GET IN TOUCH</span>

					<p class="stext-107 cl7 size-201" style="color:white;">
						{% get_in_touch_text_app5 %}
					</p>
				</div>

				<div class="col-sm-6 col-lg-4 p-b-50">

					<span style="font-size:25px; color:yellow;">Newsletter</span>

					<form method="POST" action="{% url 'subscribes_app5' %}">{% csrf_token %}

						<div class="wrap-input1 w-full p-b-4">
							<input class="form-control" style="width:80%;" type="email" name="subscribe_email" placeholder="Your Email" required>
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button type="submit" class="" style="background-color: #4CAF50; /* Green */ border: none; color: white; padding: 10px 10px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin-top:5px; border-radius: 8px;">
								Subscribe
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40" style="text-align: center; margin-top:45px;">
				<p class="stext-107 cl6 txt-center">
					(C) Copyright 2022 Lambda Crunch Inc
				</p>
			</div>
		</div>
	</footer>




	<script src="{% static '' %}landing_page_five/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{% static '' %}landing_page_five/js/vendor/bootstrap.min.js"></script>
	<script src="{% static '' %}landing_page_five/js/jquery.ajaxchimp.min.js"></script>
	<script src="{% static '' %}landing_page_five/js/jquery.nice-select.min.js"></script>
	<script src="{% static '' %}landing_page_five/js/jquery.sticky.js"></script>
	<script src="{% static '' %}landing_page_five/js/nouislider.min.js"></script>
	<script src="{% static '' %}landing_page_five/js/jquery.magnific-popup.min.js"></script>
	<script src="{% static '' %}landing_page_five/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static '' %}landing_page_five/js/gmaps.min.js"></script>
	<script src="{% static '' %}landing_page_five/js/main.js"></script>
</body>




<script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



<script>
function check_Email_Address(){
var x = document.getElementById('id_Email_Address').value
console.log(x)


jQuery.ajax({
				url: "{% url 'check_Email_Address_is_exist' %}",
				type: "POST",
				data: {x:x},

			})
			.done(function(response){

			console.log('response')
			console.log(response)
			console.log('response')

			if(response == 'Exist'){
				console.log('Exist')

				document.getElementById('mass').innerHTML =`<p class="primary-btn">Email is already Exist!</p>`			}
			else{
			console.log('New')
			document.getElementById('mass').innerHTML =``
			}

			});


}
	//document.getElementById('left_content').innerHTML=`dddd`


</script>


</html>